<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- =============================================================== -->
    <!-- Configuration du bean AbstractDao -->
    <!-- =============================================================== -->
    <bean id="abstractDao" abstract="true" class="com.antazri.climbingclub.consumer.impl.AbstractDao">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="namedParameterJdbcTemplate"
          class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg name="dataSource" ref="dataSource" />
    </bean>

    <bean id="jdbcTemplate"
          class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg name="dataSource" ref="dataSource" />
    </bean>

    <!-- =============================================================== -->
    <!-- Configuration des beans Dao -->
    <!-- =============================================================== -->
    <bean id="commentaireDao" class="com.antazri.climbingclub.consumer.impl.CommentaireDao">
    </bean>
    <bean id="cotationDao" class="com.antazri.climbingclub.consumer.impl.CotationDao">
    </bean>
    <bean id="empruntDao" class="com.antazri.climbingclub.consumer.impl.EmpruntDao">
    </bean>
    <bean id="rechercheDao" class="com.antazri.climbingclub.consumer.impl.RechercheDao">
    </bean>
    <bean id="regionDao" class="com.antazri.climbingclub.consumer.impl.RegionDao">
    </bean>
    <bean id="secteurDao" class="com.antazri.climbingclub.consumer.impl.SecteurDao">
    </bean>
    <bean id="spotDao" class="com.antazri.climbingclub.consumer.impl.SpotDao">
    </bean>
    <bean id="statutDao" class="com.antazri.climbingclub.consumer.impl.StatutDao">
    </bean>
    <bean id="topoDao" class="com.antazri.climbingclub.consumer.impl.TopoDao">
    </bean>
    <bean id="utilisateurDao" class="com.antazri.climbingclub.consumer.impl.UtilisateurDao">
    </bean>
    <bean id="voieDao" class="com.antazri.climbingclub.consumer.impl.VoieDao">
    </bean>

</beans>