<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="abstractDao" abstract="true">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!-- Déclaration des beans Dao -->
    <bean id="commentaireDao" class="com.antazri.climbingclub.consumer.impl.CommentaireDao" parent="abstractDao" />
    <bean id="cotationDao" class="com.antazri.climbingclub.consumer.impl.CotationDao" parent="abstractDao" />
    <bean id="regionDao" class="com.antazri.climbingclub.consumer.impl.RegionDao" parent="abstractDao" />
    <bean id="secteurDao" class="com.antazri.climbingclub.consumer.impl.SecteurDao" parent="abstractDao" />
    <bean id="spotDao" class="com.antazri.climbingclub.consumer.impl.SpotDao" parent="abstractDao" />
    <bean id="statutDao" class="com.antazri.climbingclub.consumer.impl.StatutDao" parent="abstractDao" />
    <bean id="topoDao" class="com.antazri.climbingclub.consumer.impl.TopoDao" parent="abstractDao" />
    <bean id="utilisateurDao" class="com.antazri.climbingclub.consumer.impl.UtilisateurDao" parent="abstractDao" />
    <bean id="voieDao" class="com.antazri.climbingclub.consumer.impl.VoieDao" parent="abstractDao" />

    <!-- Déclaration des beans RowMapper -->
    <bean id="regionRm" class="com.antazri.climbingclub.consumer.rowmapper.RegionRM" />

</beans>