<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- =============================================================== -->
    <!-- Configuration des beans Bo -->
    <!-- =============================================================== -->
    <bean id="commentaireBo" class="com.antazri.climbingclub.business.bo.impl.CommentaireBo" />
    <bean id="cotationBo" class="com.antazri.climbingclub.business.bo.impl.CotationBo" />
    <bean id="regionBo" class="com.antazri.climbingclub.business.bo.impl.RegionBo" />
    <bean id="secteurBo" class="com.antazri.climbingclub.business.bo.impl.SecteurBo" />
    <bean id="spotBo" class="com.antazri.climbingclub.business.bo.impl.SpotBo" />
    <bean id="statutBo" class="com.antazri.climbingclub.business.bo.impl.StatutBo" />
    <bean id="topoBo" class="com.antazri.climbingclub.business.bo.impl.TopoBo" />
    <bean id="utilisateurBo" class="com.antazri.climbingclub.business.bo.impl.UtilisateurBo" />
    <bean id="voieBo" class="com.antazri.climbingclub.business.bo.impl.VoieBo" />

    <!-- =============================================================== -->
    <!-- Configuration du Transaction Manager -->
    <!-- =============================================================== -->
    <bean id="platformTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>