<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- =============================================================== -->
    <!-- Import des context XML -->
    <!-- =============================================================== -->
    <import resource="classpath*:/com/antazri/climbingclub/webapp/spring/applicationContext-web.xml" />
    <import resource="classpath*:/com/antazri/climbingclub/consumer/spring/applicationContext-consumer.xml" />
    <import resource="classpath*:/com/antazri/climbingclub/business/spring/applicationContext-business.xml" />

</beans>